

.adventureSwiper{


    .swiper-button-next:after{
        margin-left: 30px !important ;
        font-size:30px !important;
        }
        
        .swiper-button-prev:after{
            margin-right: 30px !important;
            font-size:30px !important;
            }
            .swiper-pagination-bullet{
               height: 12px;
               width: 12px;
            }
}