.mobmenu {
  background: var(--black);
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1001;
  // transition: all 0.5s cubic-bezier(.19,.8,.44,1);
  animation: navbar 0.5s cubic-bezier(0.19, 0.8, 0.44, 1) forwards;

  @keyframes navbar {
    from {
      right: -100%;
    }
    to {
      right: 0px;
    }
  }

  .mobmenu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .close {
      position: absolute;
      top: 50px;
      right: 50px;
      cursor: pointer;
      border-radius: 100px;
      display: flex;
      align-items: center;
      padding: 20px;
      transition: var(--trans);

      &:hover {
        background: var(--accent);
      }

      svg {
        scale: 2;
        stroke: var(--white);
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      width: 100%;
      padding: 0px 20px;

      a {
        font-size: 40px;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          transition: var(--trans) !important;
          transform: translateY(-4px);
          color: var(--accent);
        }
      }
    }

    .social {
      width: 100%;
      border-top: 1px solid var(--text2);
      padding-top: 30px;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 20px;

      button {
        background: none;
        border-radius: 100px;
        padding: 10px 20px;
        border: 1px solid var(--text2);
        cursor: pointer;
        color: var(--text2);
      }

      .social-links {
        display: flex;
        gap: 10px;

        .social-link-btn {
          border: 1px solid var(--text2);
          aspect-ratio: 1;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          

          &:hover {
            opacity: 1;
            svg {
              stroke: var(--accent);
            }
            border: 1px solid var(--accent);
          }

          svg {
            stroke: var(--text2);
            scale: 1;
          }
        }
      }
    }
  }
}

@media only  screen and (max-width: 768px) {
  .mobmenu {
    height: 100vh;
    .mobmenu-container {
      justify-content: start !important;
      padding-top: 50px !important;

      .links{
        height: 60% !important;
        gap: 10px !important;
      }


      .social{
        width: calc(100% - 40px)!important;
        flex-direction: column !important;
        // align-items: flex-start !important;

        .social-links{
          margin-top: 40px !important;
          width: 80% !important;
          justify-content: space-between !important;
        }

      }


      .close {
        top: 20px !important;
        right: 20px !important;
      }


    }
  }
}




.header {
  position: fixed;
  top: 10px;
  z-index: 1000;
  padding: 0px 10px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px !important;
    background: rgba(255, 255, 255, 0.147);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 10px;

    &.bglight{
      background: rgba(0, 0, 0, 0.335);
      border: 1px solid rgba(154, 154, 154, 0.288);
    }

    .logo {
      display: flex;
      align-items: center;
      img {
        height: 55px;
      }

      h2 {
        font-size: 1.3rem !important;
        margin-left: 3px !important;
        color: white;
      }
    }

    .menu {
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 50px;

      svg {
        scale: 1.6;
        stroke: white;
      }
    }
  }
}
