:root {
  --accent: #ed1c24;
  --accentDark: #8a0d12;
  --grey: #161616;
  --white: #fff;
  --black: #000;
  --text: #9c9c9c;
  --text2: #5c5c5c;

  --width: 1200px;
  --trans: all 0.5s ease-out;
  --shadow: 0px 0px 20px black;
}

.light {
  --grey: #e1e1e1;
  --white: #000;
  --black: #ffffff;
  --text: #3c3c3c;
  --text2: #c7c7c7;

}

html {
  scroll-behavior: smooth;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  color: var(--text);

}

body {
  background: var(--black);
  overflow-x: hidden;

}

.parent {
  width: 100%;

  .container {
    padding: 0px calc(var(--unit) / 1);
    max-width: var(--width);
    margin: auto;
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
.heading {
  color: var(--white);
  line-height: 105%;
  font-weight: 800;
  font-style: italic;

  span {
    color: var(--accent);
    font-size: inherit;
  }
}

p,
.para,
a {
  line-height: 160%;
  letter-spacing: 1px;
  word-spacing: 2px;
  max-width: 65ch;
  text-wrap: pretty;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background: var(--accent);
  transition: all 0.4s linear;
  width: fit-content;
  padding: 0.55rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  color: white !important;

  &:hover {
    background: var(--accentDark);
  }
}

.btn2 {
  cursor: pointer;
  transition: all 0.4s linear;
  padding: 0.85rem 1rem;
 ;
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: 600;
  // width: 50%;

  &:hover {
    // background: var(--accentDark);
  }
}






::-moz-selection {
  color: white;
  background: var(--accent);
}

::selection {
  color: white;
  background: var(--accent);
}


.imghover {
  transition: var(--trans);

  &:hover {
    transform: scale(1.01) rotate(2deg);
  }
}


.swiper-pagination-bullet {
  background: var(--accentDark) !important;
}