.gallery-parent {
  height: 100%;
  overflow-x: hidden !important;
  padding-bottom: 160px;
  background-color: var(--grey);

  .gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    .wrapper {
      display: flex;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      padding: 50px 0px 0px 0px;

      .gallery-card {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;

        .images {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .gallery-parent {
    .gallery-container {
      .wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 500px) {
  .gallery-parent {
    .gallery-container {
      .wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

body > div.yarl__root.yarl__portal.yarl__no_scroll_padding.yarl__portal_open > div > div > div.yarl__thumbnails_wrapper > div > div.yarl__carousel.yarl__carousel_with_slides > div.yarl__slide.yarl__slide_current.yarl__flex_center > div.yarl__slide_captions_container.yarl__slide_title_container > div{
  padding: 10px 50px !important;
}

body > div.yarl__root.yarl__portal.yarl__no_scroll_padding.yarl__portal_open > div > div > div.yarl__thumbnails_wrapper > div > div.yarl__carousel.yarl__carousel_with_slides > div.yarl__slide.yarl__slide_current.yarl__flex_center > div.yarl__slide_captions_container.yarl__slide_description_container > div{
  padding: 10px 50px !important;
}